
<%= form_for @carotid_exam do |f| %>

   <section class="col-md-6">
    <h1>Profile</h1>
    <%= f.label :technologist_id %>
    <%= f.select :technologist_id, options_for_select(Technologist.all.map{|s|["#{s.firstname} #{s.lastname}", s.id]},
                                                   selected: @carotid_exam.technologist_id),
                                                   class: "form-control" %>
    <br />

    <%= f.label :age %>
    <%= f.number_field :age, class: "form-control" %>
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(%w[Male Female].map{|s| s},
                                                      selected: @carotid_exam.gender),
                                                      class: "form-control" %>
    <br />
</section>
<section class="col-md-6">

    <h1>Blood Pressure</h1>
    <!--Blood Pressure (Positive Floats)-->
    <%= f.label :blood_pressure_right %>
    <%= f.number_field :blood_pressure_right, class: "form-control" %>
    <%= f.label :blood_pressure_left %>
    <%= f.number_field :blood_pressure_left, class: "form-control" %>
</section>
<section class="col-md-2">
    <h1>Pulse</h1>
    <!--Pulses (Positive Floats)-->
    <%= f.label :carotid_right %>
    <%= f.number_field :carotid_right, class: "form-control" %>
    <%= f.label :carotid_left %>
    <%= f.number_field :carotid_left, class: "form-control" %>
    <%= f.label :temporal_right %>
    <%= f.number_field :temporal_right, class: "form-control" %>
    <%= f.label :temporal_left %>
    <%= f.number_field :temporal_left, class: "form-control" %>
    <%= f.label :radial_right %>
    <%= f.number_field :radial_right, class: "form-control" %>
    <%= f.label :radial_left %>
    <%= f.number_field :radial_left, class: "form-control" %>
</section>
<section class="col-md-2">
    <!--Bruits Dropdown Lists(None, Quiet, Loud)-->
    <%= f.label :neck_high_right %>
    <%= f.select :neck_distal_right, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_distal_right),
                                                      class: "form-control" %> 
    <%= f.label :neck_high_left %>
    <%= f.select :neck_distal_left, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_distal_left),
                                                      class: "form-control" %>
    <%= f.label :neck_mid_right %>                                                  
    <%= f.select :neck_mid_right, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_mid_right),
                                                      class: "form-control" %>
    <%= f.label :neck_mid_left %>
    <%= f.select :neck_mid_left, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_mid_left),
                                                      class: "form-control" %>
    <%= f.label :neck_low_right %>
    <%= f.select :neck_proximal_right, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_proximal_right),
                                                      class: "form-control" %>
    <%= f.label :neck_low_left %>
    <%= f.select :neck_proximal_left, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.neck_proximal_left),
                                                      class: "form-control" %>
    <%= f.label :supraclavicular_right %>
    <%= f.select :supraclavicular_right, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.supraclavicular_right),
                                                      class: "form-control" %>
    <%= f.label :supraclavicular_left %>
    <%= f.select :supraclavicular_left, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.supraclavicular_left),
                                                      class: "form-control" %>
    <%= f.label :chest_right %>
    <%= f.select :chest_right, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.chest_right),
                                                      class: "form-control" %>
    <%= f.label :chest_left %>
    <%= f.select :chest_left, options_for_select(Bruit.all.map{|s|[s.volume, s.id]},
                                                      selected: @carotid_exam.chest_left),
                                                      class: "form-control" %> 
</section>              
<section class="col-md-2">
    <!--Limited TCD Exam (Checkbox)-->
    <%= f.label :retrograde_right %>
    <%= f.check_box :retrograde_right, class: "form-control" %>
    <%= f.label :retrograde_left %>
    <%= f.check_box :retrograde_left, class: "form-control" %> 
    
    <!--Doppler Spectral Velocity Analysis (Negative & Positive Floats)-->
    <%= f.label :eca_right %>
    <%= f.number_field :eca_right, class: "form-control" %>
    <%= f.label :eca_left %>
    <%= f.number_field :eca_left, class: "form-control" %>
    <%= f.label :dica_right, "dICA" %>
    <%= f.number_field :dica_right, class: "form-control" %>
    <%= f.label :dica_left %>
    <%= f.number_field :dica_left, class: "form-control" %>
    <%= f.label :mica_right %>
    <%= f.number_field :mica_right, class: "form-control" %>
    <%= f.label :mica_left %>
    <%= f.number_field :mica_left, class: "form-control" %>
    <%= f.label :pica_right %>
    <%= f.number_field :pica_right, class: "form-control" %>
    <%= f.label :pica_left %>
    <%= f.number_field :pica_left, class: "form-control" %>
    <%= f.label :dcca_right %>
    <%= f.number_field :dcca_right, class: "form-control" %>
    <%= f.label :dcca_left %>
    <%= f.number_field :dcca_left, class: "form-control" %>
    <%= f.label :mcca_right %>
    <%= f.number_field :mcca_right, class: "form-control" %>
    <%= f.label :mcca_left %>
    <%= f.number_field :mcca_left, class: "form-control" %>
    <%= f.label :pcca_right %>
    <%= f.number_field :pcca_right, class: "form-control" %>
    <%= f.label :pcca_left %>
    <%= f.number_field :pcca_left, class: "form-control" %>
    <%= f.label :vertebral_right %>
    <%= f.number_field :vertebral_right, class: "form-control" %>
    <%= f.label :vertebral_left %>
    <%= f.number_field :vertebral_left, class: "form-control" %>
    <%= f.label :subclavian_right %>
    <%= f.number_field :subclavian_right, class: "form-control" %>
    <%= f.label :subclavian_left %>
    <%= f.number_field :subclavian_left, class: "form-control" %>
</section>    
    <!--Technologist's Preliminary Impression (Text Box Collapsable)-->
    <%= f.label :technologists_preliminary_impression %>
    <%= f.text_field :technologists_preliminary_impression, class: "form-control" %>
    
    <!--Paitient Results (Text Box Collapsable)-->
    <%= f.label :patient_result %>
    <%= f.text_field :patient_result, class: "form-control" %>
    
    <!--Creates Exam (Save's)-->
    <%= f.submit "Create Exam", class: "btn btn-main" %>
    
<% end %>

