<table>
    <thead>
        <tr>
            <th>age</th>
            <th>gender</th>
            <th>technologist</th>
            <th>blood_pressure_right</th>
            <th>blood_pressure_left</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.age %></td>
            <td><%= @carotid_exam.gender %></td>
            <td><%= @carotid_exam.technologist %></td>  
            <td><%= @carotid_exam.blood_pressure_right %></td>
            <td><%= @carotid_exam.blood_pressure_left %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>carotid_right</th>
            <th>carotid_left</th>
            <th>temporal_right</th>
            <th>temporal_left</th>
            <th>radial_right</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.carotid_right %></td>
            <td><%= @carotid_exam.carotid_left %></td>
            <td><%= @carotid_exam.temporal_right %></td>
            <td><%= @carotid_exam.temporal_left %></td>
            <td><%= @carotid_exam.radial_right %></td>
        </tr>
    </tbody>
        <thead>
        <tr>
            <th>radial_left</th>
            <th>neck_distal_right</th>
            <th>neck_distal_left</th>
            <th>neck_mid_right</th>
            <th>neck_mid_left</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.radial_left %></td>
            <td><%= @carotid_exam.neck_distal_right %></td>
            <td><%= @carotid_exam.neck_distal_left %></td>
            <td><%= @carotid_exam.neck_mid_right %></td>
            <td><%= @carotid_exam.neck_mid_left %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>neck_proximal_right</th>
            <th>neck_proximal_left</th>
            <th>supraclavicular_right</th>
            <th>supraclavicular_left</th>
            <th>chest_right</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.neck_proximal_right %></td>
            <td><%= @carotid_exam.neck_proximal_left %></td>
            <td><%= @carotid_exam.supraclavicular_right %></td>
            <td><%= @carotid_exam.supraclavicular_left %></td>
            <td><%= @carotid_exam.chest_right %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>chest_left</th>
            <th>retrograde_right</th>
            <th>retrograde_left</th>
            <th>eca_right</th>
            <th>eca_left</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.chest_left %></td>
            <td><%= @carotid_exam.retrograde_right %></td>
            <td><%= @carotid_exam.retrograde_left %></td>
            <td><%= @carotid_exam.eca_right %></td>
            <td><%= @carotid_exam.eca_left %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>dica_right</th>
            <th>dica_left</th>
            <th>mica_right</th>
            <th>mica_left</th>
            <th>pica_right</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.dica_right %></td>
            <td><%= @carotid_exam.dica_left %></td>
            <td><%= @carotid_exam.mica_right %></td>
            <td><%= @carotid_exam.mica_left %></td>
            <td><%= @carotid_exam.pica_right %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>pica_left</th>
            <th>dcca_right</th>
            <th>dcca_left</th>
            <th>mcca_right</th>
            <th>mcca_left</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.pica_left %></td>
            <td><%= @carotid_exam.dcca_right %></td>
            <td><%= @carotid_exam.dcca_left %></td>
            <td><%= @carotid_exam.mcca_right %></td>
            <td><%= @carotid_exam.mcca_left %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>pcca_right</th>
            <th>pcca_left</th>
            <th>vertebral_right</th>
            <th>vertebral_left</th>
            <th>subclavian_right</th>
            <th>subclavian_left</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.pcca_right %></td>
            <td><%= @carotid_exam.pcca_left %></td>
            <td><%= @carotid_exam.vertebral_right %></td>
            <td><%= @carotid_exam.vertebral_left %></td>
            <td><%= @carotid_exam.subclavian_right %></td>
            <td><%= @carotid_exam.subclavian_left %></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>technologists_preliminary_impression</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.technologists_preliminary_impression %></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>patient_result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @carotid_exam.patient_result %></td> 
        </tr>
    </tbody>
</table>