<%= form_for @ue_arterial_form do |f| %>
<h1>UE Arterial Form</h1>
    
    <%= f.label "Technologist" %> <br/>
    <%= f.label "Age" %> <br/>
    <%= f.label "Gender" %> <br/>
    <%= f.label "Blood Pressure Right" %> <br/>
    <%= f.label "Blood Pressure Left" %> <br/>
    <%= f.label "Other History" %> <br/>
    <%= f.label "Other Symptoms" %> <br/><br/>
    
<% end %>