<% if logged_in? %>
  <!-- Dropdown menu for Neck -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Neck <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Carotid Exam", '#' %></li>
    </ul>
  </li>
  
  <!-- Dropdown menu for Upper Extremity -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Upper Extremity <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "UE Arterial Exam", '#' %></li>
      <li><%= link_to "UE Venous Exam", '#' %></li>
    </ul>
  </li>
  
  <!-- Dropdown menu for Abdominal -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Abdominal <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Hepatic Exam", '#' %></li>
      <li><%= link_to "Mesenteric Exam", '#' %></li>
      <li><%= link_to "Renal Exam", '#' %></li>
    </ul>
  </li>
  
  <!-- Dropdown menu for Lower Extremity -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Lower Extremity <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "LE Arterial Exam", '#' %></li>
      <li><%= link_to "LE Venous Exam", '#' %></li>
    </ul>
  </li>
  
  <!-- Dropdown menu for Analytics -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Analysis <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Premade Analytics 1", '#' %></li>
      <li><%= link_to "Premade Analytics 2", '#' %></li>
      <li><%= link_to "Premade Analytics 3", '#' %></li>
      <li><%= link_to "Create Custom Analysis", '#' %></li>
  
    </ul>
  </li>
  
  <!-- Dropdown menu for User -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
    Users <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><%= link_to "Technician List", '#' %></li>
        <li><%= link_to "Notes List", '#' %></li>
        <li class="divider"></li>
        <!-- Users only have the ability to log out currently -->
      <li><%= link_to "Edit Profile", '#' %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    </ul>
  </li>
  <% else %>
  <li><%= link_to "Register", new_user_path, class: "menu-tab" %></li>
<% end %>